.div-category-preview {
    position: relative;
    width: auto;
    min-height: 30vh;
  }


  .div-category-preview .div-category-title-wrapper{
    height: 30%;
    transition: height 0.3s ease-out;
    overflow: hidden;
  }

  .div-category-preview:hover .div-category-title-wrapper{
    height: 100%;
    transition: height 0.3s ease-out;
    overflow: hidden;
  }
  
  .image-2 {
    position: relative;
  }
  
  .div-category-title-wrapper {
    position: absolute;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 20%;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
  }
  
  .text-big {
    font-family: Exo, sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 500;
  }
  
  .text-big.white {
    color: #fff;
  }
  
  .button-regular {
    background-color: #ff5901;
    font-family: Exo, sans-serif;
  }
  
  @media screen and (max-width: 767px) {
    .text-big {
      font-size: 1.5em;
    }
  }