.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-right: 40px;
}

.feature-image-2 {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.about-us-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-big {
  font-family: Exo, sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
}

.text-big.bigger {
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
}

.abotus {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us-top {
  padding: 10px;
}

.decor-image {
  position: absolute;
  z-index: auto;
  width: 40%;
  height: 100%;

}

@media screen and (max-width: 767px) {
  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask-2 {
    margin-right: 0px;
  }

  .feature-image-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .about-us-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-big {
    font-size: 1em;
  }

  .text-big.bigger {
    font-size: 2em;
  }

  .abotus {
    padding: 40px 20px;
  }
}
