.landing-wrapper {
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .landing-wrapper.cc-store-home-wrap {
    margin-right: auto;
    margin-left: auto;
  }
  
  .black-overlay {
    position: absolute!important;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    background-color: #000;
    opacity: 0.31;
  }
  
  .intro-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .image-background {
    position: absolute!important;
    -o-object-fit: cover;
    object-fit: cover;
    z-index:0;
  }

  .children{
      z-index:10;
  }
  
  @media screen and (max-width: 767px) {
    .landing-wrapper {
      margin-right: 15px;
      margin-left: 15px;
    }
  
    .intro-header {
      background-position: 50% 50%;
    }
  }
  
  @media screen and (max-width: 479px) {
    .image-background {
      height: 100%;
    }
  }