.color1{
    color:#3F37C9!important;
}
.color2{
    color:#4361EE!important;
}
.color3{
    color:#F72585!important;
}
.color4{
    color:#480CA8!important;
}
.color5{
    color:#4CC9F0!important;
}
.color-white{
    color: #fff !important;
}
.bck-color1{
    background-color:#3F37C9!important;
}
.bck-color2{
    background-color:#4361EE!important;
}
.bck-color3{
    background-color:#F72585!important;
}
.bck-color4{
    background-color:#480CA8!important;
}
.bck-color5{
    background-color:#4CC9F0!important;
}

.darkmode{
    color: #fff!important;
    background-color: #161925!important;
}
.darkmode-text{
    color: #fff!important;
}

.bck-color-white{
    background-color: #fff;
}

.text-black{
    color:#000;
}