:root{
  --color1:#3f37c9;
  --color2:#4361ee;
  --color3:#f72585;
  --color4:#480ca8 ;
  --color5:#4cc9f0 ;
  --colordark:#161925;
}

.color1 {
  color: var(--color1) !important;
}
.color2 {
  color: var(--color2)!important;
}
.color3 {
  color: var(--color3) !important;
}
.color4 {
  color: var(--color4) !important;
}
.color5 {
  color: var(--color5) !important;
}
.color-white {
  color: #fff !important;
}
.bck-color1 {
  background-color: var(--color1) !important;
}
.bck-color2 {
  background-color: var(--color2)!important;
}
.bck-color3 {
  background-color: var(--color3)!important;
}
.bck-color4 {
  background-color: var(--color4)!important;
}
.bck-color5 {
  background-color: var(--color5) !important;
}

.darkmode {
  color: #fff !important;
  background-color: var(--colordark) !important;
}
.darkmode-text {
  color: #fff !important;
}

.bck-color-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}
.pattern-background {

  background-size: cover;
  background-image: 
    linear-gradient(
      to top,
      var(--color1),
      var(--color4)
    );
}
@media screen and (max-width: 767px) {
    .pattern-background {

        background-size: cover;
        background-image: 
          linear-gradient(
            to top,
            var(--color1),
            var(--color4)
          );
      }

}